body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

.area{
position:relative;
width:320px;
margin:auto;
}

canvas{
width:320px;
height:160px;
background:#999;
border-radius:15px;
}

.premio{
position:absolute;
top:60px;
width:100%;
font-size:22px;
font-weight:bold;
}

#spatula{
position:absolute;
width:70px;
pointer-events:none;
}

button{
margin-top:20px;
padding:12px 25px;
border:none;
background:#00c853;
color:white;
border-radius:10px;
font-size:16px;
}
